<div class="row">
  {{#each model as |organ|}}
    {{organ-tile organ=organ}}
  {{/each}}
</div>

{{#if isShowForm}}
    <form class="newOrgan form-group" {{action 'submitOrgan' on="submit"}}>

      <label for="content" class="">organ name: </label>
      {{input value=organ-name class="form-control"}}

      <label for="cost" class="">how much you want for it: </label>
      {{input value=cost class="form-control"}}

      <label for="description" class=''>description: </label>
      {{input value=description class="form-control"}}

      <label for="imgURL" class="">imgURL: </label>
      {{input value=imgURL class="form-control"}}
      <br>
      <button class="btn btn-primary btn-block" type="submit">Submit</button>
    </form>

{{else}}
  <button type="button" class='btn-danger btn-lg' {{action 'showForm'}}>new ORGAN</button>
{{/if}}
